@{
    ViewData["Title"] = "Edit";

}
@model TbStudent
 
<div class="text-center">
    <h1 class="display-4">Edit</h1>

</div>


<form asp-action="SaveOrSubmit" method="post">
    <input type="hidden" asp-for="StudentId" />
    <!-- Display Summary Validation Errors -->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label asp-for="FirstName" class="form-label"> First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <!-- Show validation message for FirstName -->
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="form-label"> Last Name</label>
        <input asp-for="LastName" class="form-control" />
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control" />
        @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label asp-for="Grade" class="form-label"></label>
        <select asp-for="Grade" class="form-control" asp-items="@(new SelectList(new[] { "A", "B", "C", "D", "F" }))">
            <option value="">-- Select Grade --</option>
        </select>
        @Html.ValidationMessageFor(m => m.Grade, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        <label asp-for="DateOfBirth" class="form-label"></label>
        <input asp-for="DateOfBirth" type="date" class="form-control" />

    </div>

    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="d-flex ">
        <button type="submit" class="btn btn-primary mt-3">Save</button>
        <button asp-action="List" type="submit" class="btn btn-danger mt-3 px-3 py-1 ml-2">Cancel</button>
    </div>
</form>

