@{
    ViewData["Title"] = "List";

}
@model List<TbStudent>
<div class="text-center">
    <h1 class="display-4">List</h1>

</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th><a asp-controller="Student" asp-action="Sort" asp-route-order="StudentId">Id</a></th>
            <th><a asp-controller="Student" asp-action="Sort" asp-route-order="FirstName">Name</a></th>
            <th><a asp-controller="Student" asp-action="Sort" asp-route-order="LastName">FName</a></th>
            <th><a asp-controller="Student" asp-action="Sort" asp-route-order="Age">Age</a></th>
            <th><a asp-controller="Student" asp-action="Sort" asp-route-order="Grade">Grade</a></th>
            <th><a asp-controller="Student" asp-action="Sort" asp-route-order="DateOfBirth">DOB</a></th>
            <th><a asp-controller="Student" asp-action="Sort" asp-route-order="Email">Email</a></th>
            <th></th> 

        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr class="hover:bg-gray-100">
                <td class="border px-4 py-2">@student.StudentId</td>
                <td class="border px-4 py-2">@student.FirstName</td>
                <td class="border px-4 py-2">@student.LastName</td>
                <td class="border px-4 py-2">@student.Age</td>
                <td class="border px-4 py-2">@student.Grade</td>
                <td class="border px-4 py-2" type="date">@student.DateOfBirth.ToString("yyyy-MM-dd")</td>
                <td class="border px-4 py-2">@student.Email</td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="Delete(@student.StudentId)">Delete</button>
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.StudentId" class="btn btn-warning">Edit</a>
                </td>

            </tr>
        }

    </tbody>
</table>
<div class="text-center">

    <a  asp-action="Add" class="btn btn-primary mb-3">Add Student</a>


</div>
<div class="d-flex justify-content-start">
    <a asp-controller="Student" asp-action="GenerateReport" class="btn btn-primary mb-3 mt-20">
        Download Student Report
    </a>
   
</div>
<div class="d-flex justify-content-start">
    <a asp-controller="Student" asp-action="ExportStudents" class="btn btn-success mb-3  ">Export Students to CSV</a>

</div>
<div class="d-flex justify-content-end">
    <form asp-action="ImportStudents" asp-controller="Student" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input type="file" name="csvFile" accept=".csv" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Import Students</button>
    </form>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info">@TempData["Message"]</div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }

</div>
<div id="deleteModal" class="modal-overlay hidden">
    <div class="modal-content">
        <p>Are you sure you want to delete this student?</p>
        <form id="deleteForm" method="post">
            <button type="button" class="btn btn-danger" onclick="deleteStudent()">Yes, Delete</button>
            <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>

        </form>
    </div>
</div>
<script>
    let currentStudentId = 0;

    function Delete(studentId) {
        currentStudentId = studentId; 
        document.getElementById('deleteModal').classList.remove('hidden'); //unhidin the pop up model by first getting it with its id then removing the hidden prop from css list
    }

    function closeModal() {
        document.getElementById('deleteModal').classList.add('hidden'); //hiding again if user clicks no
    }

    function deleteStudent() {
        $.ajax({
            url: `/Student/Delete/${currentStudentId}`, //calling Delete action of Student controller and passing it a param
            type: 'DELETE',
            success: function (result) {  //runs in success case
                
                location.reload(); // Refresh the page after delete
            },
            error: function (xhr, status, error) {
                alert("Error: " + xhr.responseText);
            }
        });

        closeModal(); // Hide the modal
    }
</script>


