@{
    ViewData["Title"] = "List";

}
@model List<TbStudent>
<div class="text-center">
    <h1 class="display-4">List</h1>

</div>
<div class="d-flex justify-content-start ">
    <a asp-controller="Student" asp-action="GenerateReport" class="btn btn-primary mb-3 mt-10 ml-2">
        Download Student Report
    </a>
    <a asp-controller="Student" asp-action="ExportStudents" class="btn btn-success mb-3 mt-10 ml-2 ">Export Students to CSV</a>
    <form asp-action="ImportStudents" asp-controller="Student" method="post" enctype="multipart/form-data">
        <input type="file" id="csvFileInput" name="csvFile" accept=".csv" style="display:none;" required onchange="this.form.submit()" />

        <button type="button" class="btn btn-primary mt-10 ml-2 mb-3" onclick="document.getElementById('csvFileInput').click();">
            Import Students
        </button>
    </form>


</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                <a asp-action="Sort" asp-controller="Student"
                   asp-route-order="StudentId"
                   asp-route-direction="@ViewBag.CurrentDirection">Id</a>
            </th>
            <th>
                <a asp-action="Sort" asp-controller="Student"
                   asp-route-order="FirstName"
                   asp-route-direction="@ViewBag.CurrentDirection">Name</a>
            </th>
            <th>
                <a asp-action="Sort" asp-controller="Student"
                   asp-route-order="LastName"
                   asp-route-direction="@ViewBag.CurrentDirection">FName</a>
            </th>
            <th>
                <a asp-action="Sort" asp-controller="Student"
                   asp-route-order="Age"
                   asp-route-direction="@ViewBag.CurrentDirection">Age</a>
            </th>
            <th>
                <a asp-action="Sort" asp-controller="Student"
                   asp-route-order="Grade"
                   asp-route-direction="@ViewBag.CurrentDirection">Grade</a>
            </th>
            <th>
                <a asp-action="Sort" asp-controller="Student"
                   asp-route-order="DateOfBirth"
                   asp-route-direction="@ViewBag.CurrentDirection">DOB</a>
            </th>
            <th>
                <a asp-action="Sort" asp-controller="Student"
                   asp-route-order="Email"
                   asp-route-direction="@ViewBag.CurrentDirection">Email</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr class="hover:bg-gray-100">
                <td class="border px-4 py-2">@student.StudentId</td>
                <td class="border px-4 py-2">@student.FirstName</td>
                <td class="border px-4 py-2">@student.LastName</td>
                <td class="border px-4 py-2">@student.Age</td>
                <td class="border px-4 py-2">@student.Grade</td>
                <td class="border px-4 py-2" type="date">@student.DateOfBirth.ToString("yyyy-MM-dd")</td>
                <td class="border px-4 py-2">@student.Email</td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="Delete(@student.StudentId)">Delete</button>
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.StudentId" class="btn btn-warning">Edit</a>
                </td>

            </tr>
        }

    </tbody>
</table>
<div class="text-center">

    <a  asp-action="Add" class="btn btn-primary mb-3">Add Student</a>


</div>


<div class="d-flex justify-content-end">
   

</div>
<div id="deleteModal" class="modal-overlay hidden">
    <div class="modal-content">
        <p>Are you sure you want to delete this student?</p>
        <form id="deleteForm" method="post">
            <button type="button" class="btn btn-danger" onclick="deleteStudent()">Yes, Delete</button>
            <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>

        </form>
    </div>
</div>
<script>
    let currentStudentId = 0;

    function Delete(studentId) {
        currentStudentId = studentId; 
        document.getElementById('deleteModal').classList.remove('hidden'); //unhidin the pop up model by first getting it with its id then removing the hidden prop from css list
    }

    function closeModal() {
        document.getElementById('deleteModal').classList.add('hidden'); //hiding again if user clicks no
    }

    function deleteStudent() {
        $.ajax({
            url: `/Student/Delete/${currentStudentId}`, //calling Delete action of Student controller and passing it a param
            type: 'DELETE',
            success: function (result) {  //runs in success case
                
                location.reload(); // Refresh the page after delete
            },
            error: function (xhr, status, error) {
                alert("Error: " + xhr.responseText);
            }
        });

        closeModal(); // Hide the modal
    }
</script>


